<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>To Do List</title>
    </head>
    <body>
        
      <% if(kindOfDay=="friday"){  %>
            <h1 style="color: purple"> <%= kindOfDay %> </h1>
      <% } else{  %>
            <h1 style="color: aqua;"> <%= kindOfDay %> </h1>
      <%  }  %>
 
    </body>  

</html>

<!-- we have to add these tags which are not html -->