<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>To Do List</title>
    </head>
    <body>
        
      <h1> <%= kindOfDay %> </h1> 

      <ul>
        <li>Buy Food</li>
        <li>Cook Food</li>
        <li>Eat Food</li>
        <!-- <li> <%= newAdd %> </li> -->

        <% for(var i=0; i<newAdd.length; i++){  %>
          <li> <%= newAdd[i] %> </li>
        <% } %>
        
      </ul>

      <form action="/" method="post">

        <input type="text" name="newItem">
        <button type="submit" name="btn"> Add Item </button>

      </form>
 
    </body>  

</html>

<!-- we have to add these tags which are not html -->